/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/.gitignore
/.idea/JT_AFA.iml
/.idea/vcs.xml
/zSRT_scratch/test_csv_append
/share/config_testing.csv
/jt_cmj_main_pyqt_hack1.py
/share/testing/jt_pdf_2_across.pdf
/share/testing/line_data1.png
/share/testing/line_data2.png
/share/testing/line_data3.png
/share/testing/line_data4.png
/share/testing/line_data5.png
/share/testing/line_data6.png
/share/testing/line_data7.png
/share/testing/line_data0.png
/share/testing/line_data_2.png
/share/testing/line_data_3.png
/share/testing/line_data_4.png
/share/testing/line_data_5.png
/share/testing/line_data_6.png
/share/testing/line_data_7.png
/share/testing/line_data_8.png
/share/testing/line_data_9.png
/share/testing/line_data_10.png
/share/testing/line_data_11.png
/share/testing/line_data_12.png
/share/testing/line_data_13.png
/share/testing/line_data_14.png
/share/testing/line_data_15.png
/share/testing/line_data_16.png
/zSRT_scratch/jt.ico
