altgraph==0.17.3
click==8.1.6
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
fonttools==4.40.0
fpdf==1.7.2
kiwisolver==1.4.4
matplotlib==3.7.2
numpy==1.25.0
opencv-python==4.8.0.74
packaging==23.1
pandas==2.0.3
pefile==2023.2.7
Pillow==10.0.0
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.5
pyparsing==3.0.9
pyserial==3.5
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pywin32-ctypes==0.2.2
scipy==1.11.1
seaborn==0.12.2
six==1.16.0
tzdata==2023.3
PyQt6==6.4.2
